  <img class="card-img-top" src="{{gem.fullImagePath}}" alt="{{gem.name}}" [class.red]="selectedColor === 'red'" [class.green]="selectedColor === 'green'" [class.blue]="selectedColor === 'blue'" [class.pink]="selectedColor === 'pink'">
  <div class="card-body">
	  <div>
    <h5 class="card-title">{{gem.name}}</h5>
	  <app-tabs [gem] = "gem"></app-tabs>
	  <p *ngIf="gem.inventory > 0 && gem.inventory <6" style="color: red">
	  Hurry! Only {{gem.inventory}} left!
	  </p>
	  </div>
<!--<div class="mt-auto">-->
	<div class="row align-self-end">

	  COLORS:
	  <br>

<select class="form-control" [(ngModel)]="selectedColor">
	<option *ngFor="let color of gem.colors">{{color}}</option>
</select>
	  <button *ngIf="gem.inventory > 0" class="btn btn-success" (click)= "addToCart()">Add to Cart</button>
	  <button *ngIf="gem.inventory <= 0" class="btn btn-danger" disabled>Sold Out!</button>
	  <div class="costButton"> {{gem.price | currency}}</div>
  </div>
</div>

