<nav class="sticky-top navbar navbar-expand-lg navColors">
		<a class="navbar-brand" href="index.html">
			<img src="assets/fireball.png"width="35px" class="d-inline-block align-top" alt="ball" title="ball"> Angular Nav Bar</a>
		<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		 </button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      	<li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
        <a class="nav-link" href="index.html">first component</a>
      	</li>
		<li class="nav-item">
        <a class="nav-link" href= "nav-bar.component.html">second component</a>
      	</li>
    </ul>
  </div>
