/* You can add global styles to this file, and also import other style files */
html{
	background-color: wheat;
	font-family: cursive;
}
body{
	margin: 10px;
	background-color: aliceblue;
	border-bottom-style: hidden;
	border-radius: 50px;
	padding: 25px;
}
